{% extends 'base.html.twig' %}

{% block body %}
    <h1>DescripcionArancelaria - Nuevo registro</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success ">Crear</button>
   

     
         
            <a href="{{ path('descripcionarancelaria_index') }}" class="btn btn-warning"  role="button">Cancelar</a>
    {{ form_end(form) }}
         
     
{% endblock %}
