
 {%block body %}
<div class="page-header">
      <h1 id="validator">Declaración Jurada de Origen <small>Perfil del Producto</small></h1>
    </div>

    <h2 id="validator-examples">Datos Generales de la Empresa</h2>
    <p>P-1</p>
    
    <div class="well">
        <form data-toggle="validator" name="formulario" role="form">
	<div class="row">
      
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Número de RIF</label>
          <input type="text" placeholder="Ingrese RIF" name="empresa_rif" id="empresa_rif" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique los guiones</div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Nombre o Razón Social</label>
          <input type="text" placeholder="Ingrese denominación" name="empresa_nombre" id="empresa_nombre" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique el nombre detenidamente</div>
        </div>
          <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Es Comercializador</label>
          <input type="checkbox" placeholder="" name="empresa_comercializador" class="form-control">
           <div class="help-block with-errors">Marque si no es productor</div>
        </div>

	</div>
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-9">
          <label class="control-label" for="remoteValidator">Dirección Administrativa</label>
          <textarea placeholder="Ingrese dirección" name="empresa_direccionadmin" id="empresa_direccionadmin" class="form-control" data-remote="" rows="2" cols="70">
          </textarea>
           <div class="help-block with-errors">Verifique la dirección administrativa</div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Código Postal</label>
          <input type="text" placeholder="Ingrese Código Postal" name="empresa_zipcodeadmin" id="empresa_zipcodeadmin" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
	</div>
	
	
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Código de Área</label>
          <input type="number" placeholder="Ingrese dirección" name="empresa_areaadmin" id="empresa_areaadmin" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Teléfonos</label>
          <input type="number" placeholder="Ingrese Números de Teléfono" name="empresa_telfsadmin" id="empresa_telfsadmin" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique los números ingresados</div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Fax</label>
          <input type="number" placeholder="Ingrese número de fax" name="empresa_faxadmin" id="empresa_faxadmin" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique el número</div>
        </div>
	</div>

	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Página Web</label>
          <input type="text" placeholder="Ingrese sitio web" name="empresa_website" id="empresa_website" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Email</label>
          <input type="email" placeholder="Ingrese Correo Electrónico" name="empresa_email" id="empresa_email" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique los números ingresados</div>
        </div>
      
        
	</div>
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-9">
          <label class="control-label" for="remoteValidator">Dirección Planta</label>
          <textarea placeholder="Ingrese dirección" name="empresa_direccionplanta" id="empresa_direccionplanta" class="form-control" data-remote="" rows="2" cols="70"></textarea>
           <div class="help-block with-errors">Verifique la dirección de planta</div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Código Postal</label>
          <input type="text" placeholder="Ingrese Código Postal" name="empresa_zipcodeplanta" id="empresa_zipcodeplanta" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
	</div>
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Código de Área</label>
          <input type="number" placeholder="Ingrese código" name="empresa_areaplanta" id="empresa_areaplanta" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="remoteValidator">Teléfonos</label>
          <input type="number" placeholder="Ingrese Números de Teléfono" name="empresa_telfsplanta" id="remoteValidator" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique los números ingresados</div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Fax</label>
          <input type="number" placeholder="Ingrese número de fax" name="empresa_faxplanta" id="empresa_faxplanta" class="form-control" data-remote="">
           <div class="help-block with-errors">Verifique el número</div>
        </div>
        
	</div>
	</form>
	</div>

  <div class="row">
  
      <div class="form-group col-md-10">
		</div>	
      <div class="form-group col-md-2">
          <button id="dos" type="submit" class="btn btn-primary">Siguiente</button>
        </div>
      
    </div>
  {% endblock %}
     