<div class="page-header">
      <h1 id="validator">Declaración Jurada de Origen <small>Perfil del Producto</small></h1>
    </div>

    <h2 id="validator-examples">Datos del Representante Legal de la Empresa Productora</h2>
    <p>P-1</p>
    
    <div class="well">
      <form data-toggle="validator" name="formulario" id="formulario" action="" role="form">
          <input type="hidden" name="persona_empresa" id="persona_empresa">
	<div class="row">
      

        <div class="form-group col-md-3">
          <label class="control-label" for="remoteValidator">Cédula de Identidad</label>
          <input type="text" placeholder="Ingrese cédula" name="persona_ci" id="persona_ci" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Formato V/E-00000000</div>
        </div>
        <div class="form-group col-md-9">
          <label class="control-label" for="remoteValidator">Apellidos y Nombres</label>
          <input type="text" placeholder="Ingrese datos personales" name="persona_nombre" id="persona_nombre" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el nombre detenidamente</div>
        </div>
        



	</div>
	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-9">
          <label class="control-label" for="remoteValidator">Cargo</label>
          <input type="textarea" placeholder="Ingrese dirección" name="persona_cargo" id="persona_cargo" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el cargo</div>
        </div>
        
	</div>

	<div class="row">
      <form data-toggle="validator" role="form">
        <div class="form-group col-md-2">
          <label class="control-label" for="remoteValidator">Código de Área</label>
          <input type="number" placeholder="Ingrese Código de Área" name="persona_zipcode" id="persona_zipcode" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el código</div>
        </div>
        <div class="form-group col-md-4">
          <label class="control-label" for="remoteValidator">Teléfonos</label>
          <input type="number" placeholder="Ingrese Números de Teléfono" name="persona_telfs" id="persona_telfs" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique los números ingresados</div>
        </div>
        <div class="form-group col-md-2">
          <label class="control-label" for="remoteValidator">Fax</label>
          <input type="number" placeholder="Ingrese número de fax" name="persona_fax" id="persona_fax" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el numero ingresado</div>
        </div>
         <div class="form-group col-md-4">
          <label class="control-label" for="remoteValidator">Email</label>
          <input type="number" placeholder="Ingrese correo electrónico" name="persona_email" id="persona_email" class="form-control" data-remote="/validate">
           <div class="help-block with-errors">Verifique el numero ingresado</div>
        </div>
        
	</div>
	
	
	</form>

  <div class="row">
    <div class="form-group col-md-10">
          <button type="submit" id="1" class="btn btn-primary">Atrás</button>
    </div>

    <div class="form-group col-md-2">
        <button type="submit" id="3" class="btn btn-primary">Siguiente</button>
    </div>
    
  </div>
    
</div>            
    
 <script>
  $(document).ready(function(){
   $("input#persona_empresa").val($("input#registro_idempresa").val());//amarro los dos input
   
   
   
    $("button").click(function(e){
		var pagina=$(this).attr("id");
                
                 e.preventDefault();
		if(pagina==1){ //retroceder
                    $("div.bs-docs-section").empty();
                    $("div.bs-docs-section").load("{{path('uno')}}");
                }else{ //avanzar 
                        
                   $.post( "{{path('nueva_persona')}}", $("form").serialize() )
                        .done(function( data ) {
                            $('input#registro_idpersona:hidden').val(data)
                            
                        $("div.bs-docs-section").load("{{path('tres')}}");
                        })
                        .fail(function() {
                        alert( "error" );
                        });
                }
			
		 });
                 
                 
                 
        $("input[name='persona_ci']").change(function(){
                var cedula=$(this).val();
                $.get( "{{path('buscar_persona')}}", { cedula: cedula } )
                        .done(function( result ) {
                           
                        $("input[name='persona_nombre']").val(result.trim());
                });//fin get
        });//fin    change input
     });//fin document ready                
</script>
